.construction{
    color: #4fc3dc;
    align-items: center;
    font-size:250%;
    margin-left: 10%;
    margin-top: 20%;
    z-index: 3;
    a{
        color: #ff2d75;
    }
}

.mobile-construction{
    color: #4fc3dc;
    margin-top: 20%;
    padding-left: 5%;
    padding-right: 5%;
    font-size:120%;
    a{
        color: #ff2d75;
    }
}