.construction{
    color: #4fc3dc;
    align-items: center;
    font-size:250%;
    margin-left: 10%;
    margin-top: 20%;
    z-index: 3;
    a{
        color: #ff2d75;
    }
}

.construction-mobile{
    display: none;
    padding-left: 5%;
    padding-right: 5%;
}
@media (max-width : 500px) {
    .construction-mobile {display:block;}
    .construction {display:none;}
}