@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');



.nasa-logo {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  left: -200px; 
}
.uconn-logo {
  width: 200px;
  height: auto;
  position: absolute;
  top: 0;
  right: -200px; 
}

.row {
  max-width: 1200px;
  margin: 2rem auto;
  background-color: #202731; 

}

.main-timeline {
    margin-top:10%;
  font-family: 'Poppins', sans-serif;

  &:after {
    content: '';
    display: block;
    clear: both;
  }

  .timeline {
    width: calc(50% + 58px);
    border-top: 2px solid #404247;
    float: left;
    position: relative;
    z-index:0;

    a {
      text-decoration: none;
    }

    &:before {
      content: "";
      background: #404247;
      width: 10px;
      height: 10px;
      border-radius: 50px;
      position: absolute;
      top: -5px;
      right: 0;
    }
  }

  .timeline-content {
    color: white;
    text-align: center;
    padding: 15px 80px 15px 10px;
    display: block;
    position: relative;
    z-index:0;

    &:hover {
      text-decoration: none;
    }

    &:before {
      content: "";
      background: #00a6f9;
      width: 15px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 50px;
    }
  }

  .timeline-year {
    font-size: 35px;
    line-height: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: -15px;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
    
  }
  .subtitle-one{
    color: #ff3e7c;
  }
  .subtitle-two{
    color: #2dd544;
  }
  .subtitle-three{
    color: #ffb500
  }
  .subtitle-four{
    color: #00a6f9;
  }

  .title-wrap{
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
    color: blanchedalmond !important;
  }
  .timeline-links{
    color: blanchedalmond;
  }
  .description {
    font-size: 16px;
    margin: 0;
  }

  .timeline {
    &:nth-child(even) {
      float: right;

      &:before {
        right: auto;
        left: 0;
      }

      .timeline-content {
        padding: 15px 10px 15px 80px;

        &:before {
          right: auto;
          left: 51px;
        }
      }

      .timeline-year {
        right: auto;
        left: -15px;
      }
    }

    &:nth-child(4n+2) .timeline-content:before {
      background: #ff3e7c;
    }

    &:nth-child(4n+3) .timeline-content:before {
      background: #2dd544;
    }

    &:nth-child(4n+4) .timeline-content:before {
      background: #ffb500;
    }
  }
}

.spacer{
    margin:10%;
    padding:10%;
}
@media screen and (max-width: 767px) {
  .main-timeline .timeline {
    width: 100%;
  }
}